.newCls0 {
    color: #660033;
}

.newCls1 {
    font-weight: 700;
}

.newCls2 {
    color: #990000;
}

.newCls3 {
    color: #cc6b00;
}

.newCls4 {
    font-style: italic;
}

.newCls5 {
    color: #007826;
}

.newCls6 {
    color: #006600;
}

.newCls7 {
    color: #000099;
}

.newCls8 {
    color: #660066;
}

.newCls9 {
    color: #0000cc;
}

.newCls10 {
    color: #000066;
}

.newCls11 {
    color: #800000;
}

.newCls12 {
    color: #333300;
}

.newCls13 {
    color: #006699;
}

.newCls14 {
    color: #ff0000;
}