.newCls0 {
    color: #660033;
}

.newCls2 {
    color: #ff0000;
}

.newCls3 {
    color: #000099;
}

.newCls5 {
    color: #006600;
}

.newCls6 {
    color: #990000;
}

.newCls7 {
    color: #cc6b00;
}

.newCls8 {
    color: #660066;
}

.newCls9 {
    color: #996600;
}

.newCls10 {
    color: #007826;
}

.newCls11 {
    color: #801900;
}