
.c18{
    color:#e36c09;
}
.c19{
    color:#000000;
    font-weight:700;
}
.c17{
    color:#fac090;
    font-weight:700;
}
.c37{
    color:#000000;
    font-weight:700;
    font-style:italic
}

.c24{
    color:#4f6228;
}
.c1{
    color:#000000;
}
.c29{
    color:#000000;
    font-style:italic
}
.c25{
    color:#1f497d;

}
.c7{
    color:#ff0000;
    font-weight:700;

}

.c16{
    color:#ff0000;

}
.c12{
    color:#17365d;

}

.c47{

    text-align:center
}

.c6{
    text-align:center
}
.c66{
    font-style:italic
}



.c80{
    font-style:italic
}

.c45{
    height:38pt
}
.c34{
    color:#984806
}
.c49{
    color:#1f497d
}

.c32{
    color:#00b0f0
}
.c31{
    color:#4f81bd
}
.c90{
    color:#95b3d7
}
.c84{
    color:#595959
}
.c22{
    color:#7030a0
}
.c43{
    color:#d99594
}
.c44{
    color:#fac090
}

.c93 {
    color:#4f6228
}

.c83 {
    color:#8db3e2
}

.c79{
    color:#f79646
}
.c36{
    color:#366091
}

.c40{
    color:#000000
}
.c69{
    color:#4a452a
}
.c63{
    color:#948a54
}

.c23{
    color:#ff0000
}
.c50{
    color:#17365d
}

.c20{
    color:#31849b
}


.c70{
    color:#c0504d
}
.c57{
    color:#ffc000
}

.c60{
    color:#244061
}
.c26{
    color:#c00000
}


.c35{
    color:#0070c0
}
.c28{
    color:#002060
}
.c53{
    color:#b2a1c7
}
.c51{
    color:#93cddc
}
.c71{
    color:#76923c
}

.c15{
    color:#00b050
}
.c38{
    color:#548dd4
}
.c33{
    color:#5f497a
}
.c21{
    color:#e36c09
}

.c48{
    color:#943734
}
.c8 {
    color:#ff0000;
    font-weight:700
}