.c3 {
    color: #0070c0;

}

.c93 {
    text-decoration: underline;
    font-style: normal
}

.c47 {
    font-style: italic;
    color: #00b0f0;

}

.c60 {
    color: #b2a1c7;
}

.c46 {
    color: #9c27b0;
}

.c35 {
    color: #b2a1c7;
}

.c45 {
    color: #9c27b0;
}

.c43 {
    color: #00b0f0;
}

.c27 {
    color: #c0504d;

}

.c40 {
    color: #9c27b0;
}

.c51 {
    color: #e36c09;

}

.c37 {
    color: #4f81bd;


}


.c72 {

    color: #000000;
}

.c2 {

    color: #000000;
}

.c38 {

    color: #93cddc;

}

.c44 {

    color: #00b050;

}

.c6 {

    color: #ff0000;

}

.c34 {

    color: #c2d69b;

}

.c49 {

    color: #e36c09;

}

.c12 {

    color: #9bbb59;

}

.c56 {
    color: #0070c0;
    font-weight: 700;
}

.c8 {
    color: #333333;
}

.c26 {

    color: #548dd4;
}

.c15 {

    color: #548dd4;

}

.c87 {

    color: #000000;

}

.c41 {

    color: #92d050;

}

.c31 {

    color: #ff0000;

}

.c24 {
    color: #4f81bd;
    font-weight: 700;

}

.c50 {

    color: #1f497d;

}

.c39 {

    color: #76923c;

}

.c58 {

    color: #333333;
    font-weight: 700
}

.c11 {

    color: #000000;

}

.c55 {

    color: #92d050;

}

.c74 {

    color: #333333;

}

.c30 {

    color: #4f81bd;

}

.c48 {

    color: #00b050;

}

.c33 {
    color: #333333;


}



.c62 {
    color: #009688
}

.c54 {
    color: #00b0f0
}

.c85 {
    color: #9bbb59
}

.c67 {
    color: #b8cce4
}

.c73 {
    color: #548dd4
}

.c76 {
    color: #9c27b0
}

.c78 {
    color: #ff0000
}

.c89 {
    color: #1f497d
}

.c69 {
    color: #ccc1d9
}

.c92 {
    color: #4f81bd
}

.c88 {
    color: #7030a0
}

.c77 {
    font-style: italic
}

.c79 {
    color: #92d050
}

.c59 {
    color: #948a54
}

.c64 {
    color: #c2d69b
}

.c57 {
    color: #6a1b9a
}

.c70 {
    color: #95b3d7
}

.c75 {
    color: #c0504d
}

.c81 {
    color: #76923c
}

.c65 {
    color: #8db3e2
}

.c91 {
    color: #93cddc
}


.c84 {
    color: #00ACC1
}

.c83 {
    color: #0070c0
}

.c68 {
    color: #c00000
}