.c4 {
            font-weight: 700;
        }

        .c54 {
            color: #984806
        }

        .c57 {
            color: #366091
        }

        .c11 {
            color: #00b0f0
        }

        .c10 {
            color: #e36c09
        }

        .c58 {
            color: #006600
        }

        .c28 {
            color: #ff66ff
        }

        .c21 {
            color: #ff0066
        }

        .c24 {
            color: #008000
        }

        .c55 {
            color: #8db3e2
        }

        .c13 {
            color: #9e4747
        }

        .c34 {
            color: #4bacc6
        }

        .c3 {
            color: #00b050
        }

        .c27 {
            color: #cc3300
        }

        .c60 {
            font-style: italic
        }

        .c18 {
            color: #cc0066
        }

        .c29 {
            color: #d60093
        }

        .c42 {
            color: #0070c0
        }

        .c12 {
            color: #7030a0
        }

        .c64 {
            color: #0033cc
        }

        .c7 {
            color: #781b9c
        }

        .c20 {
            font-weight: 700
        }

        .c66 {
            color: #009900
        }

        .c67 {
            color: #99ff33
        }

        .c26 {
            color: #c00000
        }

        .c40 {
            color: #800000
        }

        .c46 {
            color: #4f81bd
        }

        .c47 {
            color: #ff33cc
        }

        .c39 {
            color: #ecb202
        }

        .c5 {
            color: #ff0000
        }

        .c22 {
            color: #00cc00
        }

        .c35 {
            color: #8064a2
        }

        .c31 {
            color: #f79646
        }

        .c19 {
            color: #cc0099
        }

        .c49 {
            color: #548dd4
        }

        .c30 {
            color: #0000ff
        }

        .c36 {
            color: #77970e
        }

        .c61 {
            color: #002060
        }

        .c59 {
            color: #1f497d
        }

        .c38 {
            color: #943734
        }


        .c23 {
            color: #c0504d
        }