
.c2 {
    color: #000000;
    text-decoration: none;
}
.c0 {
    -webkit-text-decoration-skip: none;
    color: #000000;
    font-weight: 400;
    text-decoration: underline;
}

.c16 {
    color: #00008b;
    text-decoration: none;
}
.c27 {
    text-decoration: none;
    font-style: italic
}

.c24 {
    font-family: "Adobe Naskh Medium";
    color: #ff0000;
}

.c18 {
    text-decoration: none;
}

.c14 {
    text-decoration: none;
    font-style: normal
}

.c10 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration: underline
}

.c1 {
    color: #000000;
}

.c40 {
    font-family: "Adobe Naskh Medium";
    font-weight: 400
}

.c21 {
    color: #ff0000;
    font-weight: 400;
}

.c9 {
    font-weight: 400
}

.c31 {
    font-weight: 400;
}

.c12 {
    color: #000000
}

.c28 {
    color: #00008b
}

.c32 {
    text-decoration: none;
}

.c15 {
    color: #000000;
}

.c11 {
    color: #008000;
    font-style: italic
}

.c29 {
    color: #ff0000;
    font-style: italic
}

.c37 {
    font-style: normal
}

.c36 {
    color: #ff0000
}

.c5 {
    color: #cc0099
}

.c41 {
    font-style: italic
}


.c35 {
    color: #000000
}


.c17 {
    color: #008000
}

.c6 {
    color: #009900
}

.c7 {
    font-weight: 700
}