
.c16 {
    color: #00008b;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
}

.c7 {
    color: #008000;
    font-weight: 700;
/*    font-size: 8pt;*/
    font-style: italic
}


.c1 {
    color: #ff0000;
    font-weight: 400
}

.c35 {
    color: #00008b;
    font-weight: 400
}

.c18 {
/*    font-size: 8pt;*/
    color: #008000;
    font-weight: 700
}

.c39 {
    font-weight: 700;
/*    font-size: 8pt;*/
}

.c24 {
/*    font-size: 12pt;*/
    font-weight: 700
}

.c28 {
    font-family: "Adobe Naskh Medium";
    font-weight: 400
}

.c47 {
    font-weight: 400;
}

.c14 {
    font-weight: 400
}

.c38 {
    font-weight: 700;
}

.c40 {
    font-weight: 400;
}

.c5 {
    -webkit-text-decoration-skip: none;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c29 {
    font-family: "Adobe Naskh Medium";
    font-weight: 400
}


.c30 {
    font-weight: 400;
}

.c22 {
    font-weight: 700
}
.c33 {
    color: #00008b;
    font-style: normal
}

.c23 {
    color: #008000
}

.c13 {
    color: #ff0000
}

.c15 {
    font-style: italic
}

.c32 {
    color: #000000
}

.c8 {
    color: #009900
}

.c9 {
    color: #0000ff
}

.c25 {
    color: #006400
}
