


.c11 {
    color: #000000;
    text-decoration: none;
}

.c16 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal
}

.c34 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Arabic Typesetting"
}

.c1 {
    text-decoration: underline
}

.c3 {
    font-weight: 400
}

.c25 {
    font-weight: 400;
    text-decoration: none;
}

.c31 {
    color: #000000;
    text-decoration: none;
}

.c30 {
    text-decoration: underline
}

.c42 {
    color: #00008b;
}


.c5 {
    color: #ff0000;
}


.c50 {
    font-family: "Adobe Naskh Medium";
}

.c6 {
    color: #0000ff;
}

.c47 {
    font-family: "Nur Arabic Font";
    font-weight: 400
}

.c62 {
    font-family: "Arabic Typesetting";
    font-weight: 400
}


.c32 {
    color: #c00000
}

.c45 {
    color: #c00000
}

.c65 {
    color: #cc0000
}

.c10 {
    color: #cc6600
}

.c85 {
    color: #ffcc00
}

.c77 {
    color: #92d050
}

.c41 {
    color: #00b050
}

.c20 {
    color: #fd1b72
}

.c73 {
    color: #00449e
}

.c15 {
    color: #ff0000
}

.c57 {
    color: #ac770c
}


.c36 {
    color: #ff33cc
}

.c23 {
    font-style: italic
}

.c35 {
    color: #33cc33
}

.c17 {
    color: #008000
}

.c22 {
    color: #cc00cc
}


.c68 {
    color: #00008b
}


.c14 {
    color: #0000ff
}

.c74 {
    color: #ffffff
}

.c61 {
    color: #ff2ad7
}


.c27 {
    font-weight: 700
}

.c49 {
    color: #000000
}


.c64 {
    color: #00349e
}



