  .c0 {
            color: #7030a0;
            font-weight: 700
        }

        .c8 {
            text-decoration-skip-ink: none;
            -webkit-text-decoration-skip: none;
            text-decoration: underline
        }

        .c1 {
            color: #009900;
            font-weight: 700
        }

        .c15 {
            font-style: italic;
            color: #3333ff
        }

        .c3 {
            font-weight: 700;
        }

        .c5 {
            color: #ff0000
        }

        .c26 {
            font-weight: 400;
            font-family: "Arial"
        }

        .c22 {
            color: #990000
        }

        .c29 {
            color: #3333ff
        }

        .c11 {
            color: #00cc00
        }

        .c32 {
            color: #cc6600
        }

        .c12 {
            color: #0000ff
        }

        .c40 {
            color: #cc9900
        }

        .c10 {
            color: #ff0000
        }

        .c21 {
            color: #9900cc
        }

        .c24 {
            color: #0000cc
        }

        .c46 {
            color: #993366
        }

        .c39 {
            color: #70ad47
        }

        .c23 {
            color: #111111
        }

        .c43 {
            color: #2e74b5
        }

        .c19 {
            font-style: italic
        }

        .c44 {
            color: #ffff00
        }

        .c14 {
            color: #0070c0
        }

        .c45 {
            font-weight: 700
        }

        .c18 {
            color: #00b050
        }

        .c17 {
            color: #00b0f0
        }

        .c41 {
            color: #33cc33
        }

        .c36 {
            color: #00ff00
        }

        .c34 {
            color: #a50021
        }

        .c28 {
            color: #cc0000
        }

        .c13 {
            color: #c00000
        }

        .c37 {
            color: #2f5496
        }

        .c16 {
            color: #7030a0
        }

        .c20 {
            color: #009900
        }

        .c33 {
            color: #ff00ff
        }

        .c47 {
            color: #ff9900
        }