.c18 {
    color: #00008b;
}

.c24 {
    color: #000000;
    font-weight: 700;
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: italic
}

.c3 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c29 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
}

.c1 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c12 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c39 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-style: italic
}

.c13 {
    -webkit-text-decoration-skip: none;
    color: #000000;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-style: normal
}

.c70 {
    color: #800000;
    font-weight: 400;
}

.c34 {
    color: #000000;
    font-weight: 400;
}


.c26 {
    color: #008000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: italic
}


.c66 {
    font-weight: 400;
}

.c15 {
    color: #009900;
    text-decoration: none;
    font-style: normal
}

.c55 {
    font-weight: 400;
}


.c40 {
    font-weight: 400;
    font-family: "Adobe Naskh Medium";

}

.c20 {
    color: #e31f26;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c78 {
    color: #e11b22;
    font-weight: 400;
}

.c63 {
    font-weight: 400;
}

.c50 {
    font-weight: 700
}

.c19 {
    -webkit-text-decoration-skip: none;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c10 {
    font-weight: 700
}

.c65 {
    text-decoration: none;
    vertical-align: baseline
}

.c17 {
    color: #0000ff
}

.c42 {
    color: #e31f26
}

.c35 {
    color: #000000
}

.c49 {
    font-style: italic
}


.c43 {
    color: #008000
}

.c11 {
    color: #ff0000
}

.c25 {
    color: #009900
}
