.c8 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c0 {
    color: #e31f26;
}

.c30 {
    color: #000000;
    text-decoration: none;
    font-style: italic
}

.c54 {
    -webkit-text-decoration-skip: none;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c38 {
    font-weight: bold;
}

.c4 {
    font-weight: bold
}

.c10 {
    color: #D81B60
}

.c16 {
    color: #e48726
}

.c9 {
    color: #1565C0
}

.c62 {
    color: #6aa84f
}

.c45 {
    color: #e69138
}

.c40 {
    color: #a64d79
}

.c42 {
    color: #3d85c6
}

.c34 {
    color: #0094d9
}

.c28 {
    color: #f1c232
}

.c2 {
    height: 11pt
}

.c43 {
    color: #cc0000
}

.c7 {
    color: #ff0000
}

.c21 {
    color: #D81B60
}

.c55 {
    color: #4a86e8
}

.c41 {
    color: #3c78d8
}

.c33 {
    color: #00b050
}

.c31 {
    font-style: italic
}

.c49 {
    color: #ffd966
}

.c23 {
    color: #00ffff
}

.c13 {
    color: #7B1FA2
}

.c66 {
    color: #990000
}


.c46 {
    color: #38761d
}

.c67 {
    color: #ffff00
}

.c15 {
    color: #558B2F
}

.c22 {
    color: #e80003
}