.newCls0 {
    color: #660033;
}

.newCls2 {
    color: #000099;
}

.newCls3 {
    color: #006600;
}

.newCls4 {
    color: #660066;
}

.newCls5 {
    color: #ff0000;
}

.newCls6 {
    color: #00008b;
}

.newCls7 {
    color: #990000;
}

.newCls9 {
    color: #cc6b00;
}

.newCls10 {
    color: #007826;
}

.newCls11 {
    color: #333300;
}

.newCls12 {
    color: #800000;
}