.newCls2 {
    color: #e80003;
}

.newCls3 {
    color: #980000;
}

.newCls4 {
    color: #0000ff;
}

.newCls5 {
    color: #ffff00;
}

.newCls6 {
    color: #00cc00;
}

.newCls7 {
    color: #ff0000;
}

.newCls8 {
    color: #c00000;
}

.newCls10 {
    color: #00b0f0;
}

.newCls11 {
    color: #7030a0;
}

.newCls12 {
    color: #00b050;
}

.newCls13 {
    color: #cc6600;
}

.newCls14 {
    color: #990000;
}

.newCls15 {
    color: #009900;
}

.newCls16 {
    color: #3333ff;
}

.newCls17 {
    color: #9900cc;
}

.newCls18 {
    color: #0070c0;
}

.newCls19 {
    color: #a50021;
}

.newCls20 {
    color: #e11b22;
}

.newCls21 {
    color: #0000cc;
}

.newCls22 {
    color: #ff00ff;
}

.newCls23 {
    color: #00ff00;
}

.newCls24 {
    color: #33cc33;
}

.newCls25 {
    color: #993366;
}

.newCls26 {
    color: #ff9900;
}

.newCls27 {
    color: #cc9900;
}

.newCls28 {
    color: #cc0000;
}

.newCls29 {
    color: #70ad47;
}

.newCls30 {
    color: #2e74b5;
}

.newCls31 {
    color: #111111;
}

.newCls32 {
    color: #008000;
}