.cls705817 {
    font-weight: 700;
}

.cls639465 {
    color: #ff0000;
}

.cls833632 {
    color: #548dd4;
}

.cls465966 {
    color: #00b050;
}

.cls821415 {
    color: #d1c310;
}

.cls805430 {
    color: #f700ff;
}

.cls709446 {
    color: #00b0f0;
}

.cls578433 {
    color: #e80003;
}

.cls346775 {
    color: #;
}

.cls788158 {
    color: #cc6b00;
}

.cls885677 {
    color: #76923c;
}

.cls18510 {
    color: #ffc000;
}

.cls641059 {
    color: #943734;
}

.cls847305 {
    color: #e36c09;
}

.cls130800 {
    color: #31849b;
}

.cls302369 {
    color: #cc3399;
}

.cls604851 {
    color: #0070c0;
}

.cls611278 {
    color: #ff0066;
}

.cls822845 {
    color: #7030a0;
}

.cls74808 {
    color: #984806;
}

.cls45406 {
    color: #92d050;
}

.cls878125 {
    color: #1f497d;
}

.cls637294 {
    color: #4f6228;
}

.cls169645 {
    color: #ff00ff;
}

.cls821708 {
    color: #d99594;
}

.cls967515 {
    color: #ed33e3;
}

.cls799490 {
    color: #ff3399;
}

.cls490281 {
    color: #4f81bd;
}

.cls56995 {
    color: #f600ff;
}

.cls309004 {
    color: #e512f6;
}

.cls577367 {
    color: #008000;
}

.cls841028 {
    font-style: italic;
}

.cls302366 {
    color: #cc0066;
}

.cls279304 {
    color: #0066ff;
}

.cls962140 {
    color: #fb00ff;
}

.cls979310 {
    color: #f70ae4;
}

.cls878004 {
    color: #e900ff;
}

.cls401394 {
    color: #c5bc15;
}

.cls452347 {
    color: #990000;
}

.cls284108 {
    color: #ccc313;
}

.cls491497 {
    color: #ff00f3;
}

.cls518861 {
    color: #e11b22;
}

.cls127959 {
    color: #010202;
}

.cls333145 {
    color: #002060;
}

.cls323402 {
    color: #f79646;
}

.cls974957 {
    color: #fb01fc;
}

.cls340728 {
    color: #dbdc0d;
}

.cls436655 {
    color: #c0504d;
}

.cls795244 {
    color: #958917;
}

.cls229828 {
    color: #01fbf7;
}