.newCls0 {
    color: #990000;
}

.newCls1 {
    font-weight: 700;
}

.newCls2 {
    font-style: italic;
}

.newCls3 {
    color: #006600;
}

.newCls4 {
    color: #000099;
}

.newCls5 {
    color: #cc6b00;
}

.newCls6 {
    color: #330099;
}

.newCls7 {
    color: #990099;
}

.newCls8 {
    color: #660066;
}

.newCls9 {
    color: #000066;
}

.newCls10 {
    color: #800000;
}

.newCls11 {
    color: #801900;
}

.newCls12 {
    color: #003300;
}

.newCls13 {
    color: #ff0000;
}

.newCls14 {
    text-align: center;
}

.newCls15 {
    text-align: right;
}

.newCls16 {
    text-align: left;
}
