.newCls0 {
    color: #182f7c;
}

.newCls1 {
    font-weight: 700;
}

.newCls2 {
    color: #091d89;
}

.newCls3 {
    color: #e11b22;
}

.newCls4 {
    color: #ff0000;
}

.newCls5 {
    color: #0066b3;
}

.newCls6 {
    color: #008000;
}

.newCls7 {
    color: #548dd4;
}