.newCls0 {
    color: #660033;
}

.newCls1 {
    font-weight: 700;
}

.newCls2 {
    color: #000099;
}

.newCls3 {
    color: #990000;
}

.newCls4 {
    color: #007826;
}

.newCls5 {
    color: #660066;
}

.newCls6 {
    color: #006600;
}

.newCls7 {
    font-style: italic;
}

.newCls8 {
    color: #ff0000;
}