.cls731767 {
    color: #ff9900;
}

.cls801209 {
    color: #980000;
}

.cls903871 {
    color: #e06666;
}

.cls696100 {
    color: #93c47d;
}

.cls541852 {
    color: #274e13;
}

.cls498658 {
    color: #e69138;
}

.cls678189 {
    color: #bf9000;
}

.Mor {
    color: #9900ff;
}

.cls778664 {
    color: #660000;
}

.cls100272 {
    color: #a4c2f4;
}

.cls740898 {
    color: #76a5af;
}

.cls756832 {
    color: #b45f06;
}


.cls740518 {
    color: #808080;
}



.cls978594 {
    color: #1155cc;
}


.cls555043 {
    color: #5b0f00;
}

.cls85520 {
    color: #1c4587;
}

.cls663480 {
    color: #211d1e;
}

.cls841516 {
    color: #00008b;
}