 /* 19.mektub */

 .cls306852 {
     font-weight: 700;
 }

 .cls340290 {
     color: #990000;
 }

 .cls944173 {
     color: #800000;
 }

 .cls758224 {
     color: #006600;
 }

 .cls227279 {
     font-style: italic;
 }

 .cls92901 {
     color: #e11b22;
 }

 .cls594584 {
     font-weight: 500;
 }

 .cls926325 {
     color: #000099;
 }

 .cls824337 {
     color: #008000;
 }

 .cls535484 {
     color: #990099;
 }

 .cls305178 {
     color: #663300;
 }

 .cls327847 {
     color: #996600;
 }

 .cls677235 {
     color: #e31f26;
 }

 .cls374246 {
     color: #003300;
 }

 .cls205264 {
     color: #660066;
 }

 .cls76606 {
     color: #e80003;
 }

 .cls909054 {
     color: #000066;
 }


 /* 20.mektub */

 .cls32253 {
     font-weight: 700;
 }

 .cls438055 {
     color: #990000;
 }

 .cls484867 {
     font-style: italic;
 }

 .cls49754 {
     font-weight: 500;
 }

 .cls443666 {
     color: #e31f26;
 }

 .cls305369 {
     color: #006600;
 }

 .cls388372 {
     color: #38761d;
 }

 .cls158163 {
     color: #000099;
 }

 .cls906217 {
     color: #800000;
 }

 .cls908761 {
     color: #990099;
 }

 .cls434765 {
     color: #e11b22;
 }

 .cls96481 {
     color: #0000cc;
 }

 .cls724095 {
     color: #ff0000;
 }

 .cls489068 {
     color: #009999;
 }

 .cls850041 {
     color: #e80003;
 }

 .cls323772 {
     color: #003300;
 }

 .cls520702 {
     color: #330099;
 }

 .cls188523 {
     color: #cc0000;
 }

 .cls355339 {
     color: #cc3300;
 }


 /* 22.mektub */

 .cls880057 {
     font-weight: 700;
 }

 .cls791044 {
     color: #780000;
 }

 .cls101706 {
     color: #006400;
 }

 .cls566092 {
     color: #e80003;
 }

 .cls978131 {
     font-weight: 500;
 }

 .cls960770 {
     color: #007800;
 }

 .cls20291 {
     color: #0000af;
 }

 .cls71709 {
     font-style: italic;
 }

 .cls705368 {
     color: #ff0000;
 }

 .cls386495 {
     color: #e11b22;
 }

 .cls708846 {
     color: #780078;
 }


 /* 26.mektub */

 .cls384185 {
     font-weight: 700;
 }

 .cls426036 {
     color: #990000;
 }

 .cls325907 {
     font-style: italic;
 }

 .cls583960 {
     font-weight: 500;
 }

 .cls634238 {
     color: #006600;
 }

 .cls654346 {
     color: #000099;
 }

 .cls891109 {
     color: #663300;
 }

 .cls952041 {
     color: #330099;
 }

 .cls608798 {
     color: #990099;
 }

 .cls223086 {
     color: #e80003;
 }

 .cls507372 {
     color: #ff0000;
 }

 .cls765164 {
     color: #e11b22;
 }

 .cls614816 {
     color: #e31f26;
 }

 .cls413213 {
     color: #660066;
 }

 .cls673985 {
     color: #000066;
 }

 .cls539524 {
     color: #800000;
 }

 .cls467127 {
     color: #801900;
 }

 .cls641235 {
     color: #003300;
 }