 .newCls1 {
     color: #660033;
 }


 .newCls5 {
     color: #cc0000;
 }


 .newCls9 {
     color: #660066;
 }

 .newCls10 {
     color: #801900;
 }

 .newCls11 {
     color: #800000;
 }

 .newCls12 {
     color: #996600;
 }