.cls51239 {
    color: #d20a0a;
}

.cls525073 {
    font-weight: 700;
}

.cls601483 {
    color: #780000;
}

.cls499614 {
    color: #006400;
}

.cls27727 {
    color: #007800;
}

.cls668617 {
    color: #0000af;
}

.cls85834 {
    color: #780078;
}

.cls323074 {
    font-style: italic;
}

.cls829537 {
    color: #ff0000;
}

.cls99936 {
    color: #800000;
}

.cls66135 {
    text-align: left;
}

.cls170206 {
    text-align: center;
}

.cls261189 {
    text-align: right;
}