.cls179894 {
    font-weight: 700;
}

.cls506895 {
    color: #e80003;
}

.cls968283 {
    color: #00b050;
}

.cls508618 {
    color: #ff0000;
}

.cls257016 {
    color: #00b0f0;
}


.cls149302 {
    color: #c00000;
}

.cls488810 {
    color: #92d050;
}

.cls220682 {
    color: #7030a0;
}

.cls374623 {
    color: #ff3399;
}

.cls350146 {
    color: #0070c0;
}

.cls592809 {
    color: #f79646;
}

.cls616463 {
    color: #4f81bd;
}

.cls172471 {
    color: #ff0066;
}

.cls60353 {
    color: #660033;
}

.cls164807 {
    color: #e36c09;
}

.cls875127 {
    color: #558ed5;
}

.cls671777 {
    color: #e11b22;
}

.cls945111 {
    color: #c0504d;
}

.cls44848 {
    color: #f20481;
}

.cls892334 {
    color: #943734;
}

.cls335774 {
    color: #007826;
}

.cls80973 {
    font-style: italic;
}

.cls949382 {
    color: #d99594;
}

.cls638233 {
    color: #fac090;
}

.cls968774 {
    color: #93cddc;
}

.cls199517 {
    color: #984806;
}

.cls435947 {
    color: #95b3d7;
}

.cls582240 {
    color: #00008b;
}

.cls3885 {
    color: #ef4793;
}

.cls519193 {
    color: #c12f82;
}

.cls425646 {
    color: #800000;
}