.cls280788 {
    font-weight: 700;
}

.cls760208 {
    color: #e31f26;
}

.cls173412 {
    font-style: italic;
}

.cls49580 {
    color: #e80003;
}

.cls993255 {
    color: #008000;
}

.cls996905 {
    color: #ff0000;
}

.cls887727 {
    color: #0094d9;
}

.cls109156 {
    color: #e11b22;
}

.cls232934 {
    font-weight: 700;
}

.cls722679 {
    color: #e31f26;
}

.cls249735 {
    font-style: italic;
}

.cls679299 {
    color: #e80003;
}

.cls669587 {
    color: #008000;
}

.cls39027 {
    color: #e11b22;
}

.cls133471 {
    font-weight: 700;
}

.cls102801 {
    color: #660033;
}

.cls63158 {
    color: #000099;
}

.cls198739 {
    color: #990000;
}

.cls35625 {
    color: #e80003;
}

.cls648864 {
    color: #008000;
}

.cls799925 {
    font-style: italic;
}

.cls421313 {
    color: #007826;
}

.cls221487 {
    color: #660066;
}

.cls430452 {
    color: #006600;
}

.cls922241 {
    color: #e11b22;
}

.cls141923 {
    color: #ff0000;
}

.cls488470 {
    font-weight: 700;
}

.cls201131 {
    color: #e31f26;
}

.cls20748 {
    font-style: italic;
}

.cls713204 {
    color: #008000;
}

.cls9723 {
    font-weight: 700;
}

.cls37740 {
    color: #0094d9;
}

.cls258652 {
    color: #e31f26;
}

.cls79555 {
    color: #008000;
}

.cls61552 {
    font-style: italic;
}

.cls965069 {
    font-weight: 700;
}

.cls482989 {
    color: #e31f26;
}

.cls92146 {
    font-style: italic;
}

.cls510877 {
    color: #e80003;
}

.cls385920 {
    color: #008000;
}

.cls643369 {
    font-weight: 700;
}

.cls170906 {
    color: #e31f26;
}

.cls126483 {
    font-style: italic;
}

.cls416078 {
    color: #008000;
}

.cls797637 {
    color: #e80003;
}

.cls361620 {
    color: #e11b22;
}

</head>