 .newCls0 {
     color: #990000;
 }

 .newCls1 {
     font-weight: 700;
 }

 .newCls2 {
     color: #800000;
 }

 .newCls3 {
     color: #006600;
 }

 .newCls4 {
     font-style: italic;
 }

 .newCls5 {
     color: #000099;
 }

 .newCls6 {
     color: #990099;
 }

 .newCls7 {
     color: #cc6b00;
 }

 .newCls8 {
     color: #996600;
 }

 .newCls9 {
     color: #003300;
 }

 .newCls10 {
     color: #660066;
 }

 .newCls11 {
     color: #000066;
 }

 .newCls12 {
     color: #cc0000;
 }

 .newCls13 {
     color: #00008b;
 }

 .newCls14 {
     text-align: center;
 }

 .newCls15 {
     text-align: right;
 }

 .newCls16 {
     text-align: left;
 }

 