.newCls0 {
    font-weight: 700;
}

.newCls1 {
    color: #ff0000;
}

.newCls2 {
    color: #00b0f0;
}

.newCls3 {
    color: #fac090;
}

.newCls4 {
    color: #7030a0;
}

.newCls5 {
    color: #00b050;
}

.newCls6 {
    color: #008000;
}

.newCls7 {
    font-style: italic;
}

.newCls8 {
    color: #c0504d;
}

.newCls9 {
    color: #e36c09;
}

.newCls10 {
    color: #548dd4;
}

.newCls11 {
    color: #e80003;
}

.newCls12 {
    color: #92d050;
}

.newCls14 {
    color: #c00000;
}

.newCls15 {
    color: #0070c0;
}

.newCls16 {
    color: #ff3399;
}

.newCls17 {
    color: #943734;
}

.newCls18 {
    color: #4f81bd;
}

.newCls19 {
    color: #cc0066;
}

.newCls20 {
    color: #0066ff;
}


.newCls22 {
    color: #e11b22;
}


.newCls24 {
    color: #002060;
}

.newCls25 {
    color: #f79646;
}

.newCls26 {
    color: #4bacc6;
}