.cls490423 {
    font-weight: 700;
}

.cls111506 {
    color: #231f20;
}

.cls752469 {
    color: #c00000;
}

.cls475779 {
    color: #ff0000;
}

.cls117133 {
    color: #00b0f0;
}

.Mor {
    color: #ffc000;
}

.cls727025 {
    color: #00b050;
}

.cls512206 {
    color: #7030a0;
}

.cls404629 {
    color: #0070c0;
}

.cls905895 {
    color: #0000ff;
}

.cls423155 {
    color: #92d050;
}

.cls237566 {
    color: #b2a1c7;
}

.cls286460 {
    color: #943734;
}

.cls59357 {
    color: #f79646;
}

.cls756436 {
    color: #e36c09;
}

.cls674676 {
    color: #c0504d;
}

.cls87949 {
    color: #e80003;
}

.cls966702 {
    color: #0094d9;
}

.cls7119 {
    font-style: italic;
}

.cls668584 {
    color: #e31f26;
}

.cls810893 {
    color: #ff66cc;
}

.cls392222 {
    color: #e11b22;
}

.cls46296 {
    color: #93cddc;
}

.cls598863 {
    color: #d99594;
}

.cls588558 {
    color: #008000;
}

.cls774706 {
    color: #fac090;
}

.cls811244 {
    color: #8064a2;
}